@model ContextSingletons.Models.Donkey.SmallAss

@{
    ViewBag.Title = "DonkeyViewer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DonkeyViewer</h2>
Donkey is called @Model.Name and can carry @Model.CarryingCapacity() kg

